<!-- <span
  class="bg-pink-greys text-lightPink-greys text-xs font-semibold lg:me-2 px-2.5 py-0.5 rounded dark:bg-pink-900 dark:text-black-300"
>
  <slot />
</span> -->

<div class="flex items-center transition md:hover:scale-105">
    <span class="relative inline-flex overflow-hidden rounded-full p-[3px]">
      <span
        class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]"
      ></span>
      <div class="inline-flex items-center justify-center w-full px-2 py-1 text-sm text-lightPink-greys bg-pink-greys rounded-full cursor-pointer dark:bg-black dark:text-white backdrop-blur-3xl whitespace-nowrap">
        <slot />
      </div>
    </span>
    </div>