---
const footerItems = [
    {
      title: "Sobre mí",
      url: "/#sobre-mi",
    },
  {
    title: "Contacto",
    url: "mailto:greys.mpich@gmail.com",
  },
]
---
<footer class="bg-green-greys rounded-full shadow backdrop-blur-lg w-full mx-auto dark:bg-gray-800">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between ">
      <span class="text-sm text-black flex gap-x-1 justify-center sm:text-center"> 
        <p>2024 | Grecia Mendieta</p>
        <a href="https://github.com/greysmpich" target="_blank" class="hover:bg-black hover:text-green-greys hover:rounded hover:px-2">@greysmpich</a>
    </span>
    <ul class="flex flex-wrap items-center justify-center text-sm font-bold text-black">
        {
            footerItems.map((link) =>
            <li>
                <a 
                class="transition hover:text-pink-greys me-4 md:me-6" 
                href={link.url}          
                >
                {link.title}
                </a>
            </li>
            )
        }
    </ul>
    </div>
</footer>
