---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '@fontsource-variable/lexend';

interface Props {
	title: string;
}


const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="theme-color"  media="(prefers-color-scheme: light)" content="cyan">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="absolute top-0 z-[-2] h-screen w-screen transform bg-white bg-[radial-gradient(60%_120%_at_50%_50%,hsla(0,0%,100%,0)_0,rgba(252,205,238,.5)_100%)]">
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light;

	}
	html {
		font-family: 'Lexend Variable', system-ui, sans-serif; 
		scroll-behavior: smooth;
	}

	body {
		background-color: whitesmoke;
		display: flex;
		min-height: 100vh;
		flex-direction: column;
		overflow-x: hidden;
	}

	@media (prefers-reduced-motion: reduce){
		html{
			scroll-behavior: auto;
		}
	}
		@media (min-width: 640px) {
    .sm\:space-y-8 > :not([hidden]) ~ :not([hidden]) {
      margin-top: 0 !important;
    }
	.md\:space-y-8 > :not([hidden]) ~ :not([hidden]) {
		  margin-top: 0 !important;
		  }
  }


</style>
